{% extends 'main.html' %} {% load static %} {% block content %}
<!-- -->
<section class="success">
  <div class="success-container">
    <div class="success-head">
      <div>
        <h3>Current Plan Details</h3>
        <span style="color: red; background-color: rgba(255, 0, 0, 0.2)"
          >Cancelled</span
        >
      </div>
    </div>
    <p class="plan-name">{{plan_name}}</p>
    <p class="plan-price">
      {{price}}/{% if month_year %} Month {% else %} Year {% endif %}
    </p>
    <a class="choose-plan" href="{% url 'payment' %}">Choose Plan</a>
    <p class="sub-notice">
      Your Subscription has been cancelled. And you will looose access on {{e}}.
    </p>
  </div>
</section>
{% endblock content %}
