@font-face {
  font-family: "Uncut-B";
  src: url("../fonts/Uncut-Sans-Semibold.otf");
}
@font-face {
  font-family: "uncut-M";
  src: url("../fonts/Uncut-Sans-Medium.otf");
}
@font-face {
  font-family: "Uncut-R";
  src: url("../fonts/Uncut-Sans-Regular.otf");
}
